body {
  padding-top: 50px;
  background: #F1F1F1; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h1, h2, h3 {
  line-height: 40px; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #666; }

hr {
  border-top: 1px solid #CCC; }

a {
  color: #E9573F; }

a:hover {
  color: #ee7f6d; }

.btn-primary {
  background-color: #e9573f;
  border-color: #e9573f; }

.btn-primary:hover {
  background-color: #ee7f6d;
  border-color: #ee7f6d; }

.table {
  background: white; }

.navbar-inverse {
  border: none; }
  .navbar-inverse .navbar-brand {
    color: #e9e9e9;
    font-size: 20px; }
  .navbar-inverse .navbar-nav > li > a {
    color: #ccc;
    font-size: 16px;
    text-transform: uppercase; }
  .navbar-inverse li.active > a {
    border-bottom: 3px solid #e9573f;
    height: 50px; }

.page-header {
  margin-top: 0; }

@media (min-width: 1200px) {
  .container {
    width: 970px; } }
a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden; }

.sidebar-nav {
  margin-top: 30px;
  font-size: 12px; }
  .sidebar-nav .sidebar-group {
    padding-left: 0;
    margin-bottom: 20px; }
  .sidebar-nav .sidebar-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #ddd; }
    .sidebar-nav .sidebar-group-item.heading {
      text-transform: uppercase;
      background-color: #DDD; }
  .sidebar-nav a.sidebar-group-item:hover,
  .sidebar-nav a.sidebar-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #fbe3df; }
  .sidebar-nav .sidebar-group-item.active,
  .sidebar-nav .sidebar-group-item.active:hover,
  .sidebar-nav .sidebar-group-item.active:focus {
    z-index: 2;
    color: #555;
    background-color: #fbe3df; }

.hljs {
  word-wrap: normal;
  font-size: 12px; }

.home-intro {
  text-align: center;
  padding: 40px 0;
  background: #e9573f;
  color: #F5F7FA; }
  .home-intro h1 {
    margin-top: 0; }
  .home-intro p {
    text-transform: uppercase;
    margin-bottom: 0; }

.canvas-container {
  position: relative; }
  .canvas-container #mainCanvas {
    width: 100%;
    height: 500px; }
  .canvas-container .dg.main {
    position: absolute;
    top: 0;
    right: 0; }
    .canvas-container .dg.main .selector {
      width: 124px !important; }
  .canvas-container .controls-overlay {
    bottom: 0;
    width: auto;
    padding: 5px; }
    .canvas-container .controls-overlay .radio-container {
      margin-left: 25px; }

.api-reference .api-member-details > .panel-body {
  padding-top: 5px; }
.api-reference h3.member-title {
  font-size: 18px;
  line-height: 18px; }
  .api-reference h3.member-title code {
    background: transparent;
    padding: 0; }
  .api-reference h3.member-title .label {
    margin-left: 3px; }
.api-reference .defined-in {
  font-size: 75%; }
.api-reference .description p {
  margin-top: 15px; }
.api-reference .api-member-table-name {
  white-space: nowrap; }
.api-reference .api-parameters p, .api-reference .api-member-table p, .api-reference .member-returns p {
  display: inline; }
.api-reference h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 8px; }
.api-reference table p:last-child {
  margin-bottom: 0; }
.api-reference .table:last-child {
  margin-bottom: 0; }
.api-reference pre.hljs:last-child {
  margin-bottom: 0; }

:fullscreen {
  width: 100%;
  height: 100%; }
  :fullscreen #mainCanvas {
    height: 100%; }

:-webkit-full-screen {
  width: 100%;
  height: 100%; }
  :-webkit-full-screen #mainCanvas {
    height: 100%; }

:-moz-full-screen {
  width: 100%;
  height: 100%; }
  :-moz-full-screen #mainCanvas {
    height: 100%; }

.footer-container {
  margin-top: 60px;
  margin-bottom: 40px; }
