---
layout: api-base.html
---

{{#if extends}}
<p><strong>Base Class: </strong> {{apiTypeLink extends}}</p>
{{/if}}

{{#gt derivedClasses.length 0}}
<p><strong>Derived Classes:</strong></p>
<ul>
  {{#each derivedClasses}}
  <li>{{apiTypeLink this}}</li>
  {{/each}}
</ul>
{{/gt}}

{{> body}}

{{#if page.data.constructor}}
<h4>Constructor</h4>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td class="api-member-table-name">
      <code><a href="#{{constructor.name}}">{{constructor.name}}</a></code>
    </td>
    <td>
      {{#if constructor.summary}}
        {{constructor.summary}}
      {{else}}
        {{{constructor.description}}}
      {{/if}}
    </td>
  </tr>
</table>
{{/if}}

{{#gt page.data.properties.length 0}}
<h4>Properties</h4>
{{> api-member-table page.data.properties}}
{{/gt}}

{{#gt page.data.methods.length 0}}
<h4>Methods</h4>
{{> api-member-table page.data.methods}}
{{/gt}}

<hr />

{{#if page.data.constructor}}
<h4>Constructor</h4>
{{> api-member page.data.constructor}}
<hr />
{{/if}}

{{#gt page.data.properties.length 0}}
<h4>Properties</h4>
{{#each page.data.properties}}
{{> api-member}}
{{/each}}
<hr />
{{/gt}}

{{#gt page.data.methods.length 0}}
<h4>Methods</h4>
{{#each page.data.methods}}
{{> api-member}}
{{/each}}
{{/gt}}