---
layout: default.html
---

<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar-nav">
      {{#each api_types}}
      <div class="sidebar-nav-section">
        <h3>{{api_type}}</h3>
        <ul class="list-unstyled">
          {{#each pages}}
          <li>
            <a href="{{relative ../../page.dest this.dest}}"
              class="{{#is ../../page.dest this.dest}}active{{/is}}">
              {{data.nav_title}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
    </div>
    <div class="col-md-9 api-reference">
      <h1>{{title}}</h1>
      {{> body }}

      {{#gt page.data.methods 0}}
      <h4>Methods</h4>
      <ul>
        {{#each page.data.methods}}
          <li><a href="#{{name}}">{{name}}</a></li>
        {{/each}}        
      </ul>
      {{/gt}}

      {{#each page.data.methods}}
        <hr />
        <a name="{{name}}"></a>
        <h3 class="member-title">
          {{name}}
          <small>
            ({{#each parameters}}{{name}}{{#unless @last}}, {{/unless}}{{/each}})
            → {{returns.type}}
            {{#each attribs}}
            <span class="label label-default">{{this}}</span>
            {{/each}}
          </small>
        </h3>

        <span class="defined-in">
          Defined in
          <a href="https://github.com/tgjones/zia.js/blob/master/src/{{filename}}#L{{line}}">{{filename}}:{{line}}</a>
        </span>

        <div class="description">
        {{{description}}}
        </div>

        <h4>Parameters</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each parameters}}
            <tr>
              <td><code>{{name}}</code></td>
              <td>{{type}}</td>
              <td>{{{description}}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>

        <h4>Returns</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{returns.type}}</td>
              <td>{{{returns.description}}}</td>
            </tr>
          </tbody>
        </table>

        {{#gt examples.length 0}}
        <h4>Example</h4>
        {{inlineCode examples.[0]}}
        {{/gt}}
      {{/each}}
    </div>
  </div>
</div>