---
layout: page.html
---

<div class="row">
  <div class="col-md-3 sidebar-nav">
    {{#each examples}}
      <div class="sidebar-nav-section">
        <h3>{{capitalizeFirst example}}</h3>
        <ul class="list-unstyled">
          {{#each pages}}
          <li>
            <a href="{{relative ../../page.dest this.dest}}"
              class="{{#is ../../page.dest this.dest}}active{{/is}}">
              {{data.title}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
  <div class="col-md-9">
    <h1>{{title}}</h1>
    {{> body }}
  </div>
</div>