---
layout: example_base.html
---

<div class="panel">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#output" data-toggle="tab">Output</a></li>
    <li><a href="#source" data-toggle="tab">Source</a></li>
  </ul>

  <div id="hello" class="tab-content">
    <div class="tab-pane active" id="output">
      <canvas id="mainCanvas" style="width:100%;height:500px"></canvas>

      {{> body }}
    </div>
    <div class="tab-pane" id="source">
      {{ exampleCode page.basename }}
    </div>
  </div>
</div>

<script type="text/javascript" src="{{assets}}/js/example-{{page.basename}}.js"></script>