---
layout: page.html
---

<div class="row">
  <div class="col-md-3 sidebar-nav">
    {{#each examples}}
      <div class="sidebar-group">
        <span class="sidebar-group-item heading"><strong>{{capitalizeFirst example}}</strong></span>

        {{#each pages}}
        <a href="{{relative ../../page.dest this.dest}}"
          class="sidebar-group-item {{#is ../../page.dest this.dest}}active{{/is}}">
          {{data.title}}
        </a>
        {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-9">
    <h1>{{title}}</h1>
    {{> body }}
  </div>
</div>